<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="SolMusic HTML Template">
    <meta name="keywords" content="music, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="{{ asset('img/favicon.ico') }}" rel="shortcut icon"/>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
          rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}"/>

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<!-- Header section -->
<header class="header-section">
    <a href="{{ path('home') }}" class="site-logo">
        <img src="{{ asset('img/logo.svg') }}" alt="">
    </a>
    <ul class="main-menu">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('home') }}#tricks">Tricks</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="sub-menu">
                <li><a href="{{ path('trick.all') }}">Tous mes tricks</a>
                <li><a href="{{ path('trick.add') }}">Ajouter un trick</a>
            </ul>
            {% endif %}
        </li>
        <div class="user-panel">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_logout') }}" class="login">Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="login">Sign in</a>
                <span>|</span>
                <a href="{{ path('reg') }}" class="register">Sign up</a>
            {% endif %}
        </div>
    </ul>
</header>
<!-- Header section end -->
{% block body %}{% endblock %}

<!--====== Javascripts & Jquery ======-->
<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.slicknav.min.js') }}"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/mixitup.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>

</body>
</html>
